<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.uilangage.langcine.admin.movie.repository.MovieRepository">
  
  <select id="getMovieInfo" parameterType="int" 
   resultType="com.uilangage.langcine.admin.movie.domain.Movie">
	SELECT
		`movieName`
		, `thumbImage`
		, `movieInfoImage`
		, `visualImage`
		, `bannerImage`
		, `genre`
		, `director`
		, `star`
		, `story`
		, `runningTime`
		, `openDay`
	FROM
		`movie`
	WHERE
		`id` = #{id}		  
  </select>
  
  <select id="getMovieByList" resultType="com.uilangage.langcine.admin.movie.domain.Movie">
  	SELECT 
			`id`
			, `movieName`
  			, `thumbImage`
  			, `movieInfoImage`
  			, `visualImage`
  			, `bannerImage`
  			, `genre`
  			, `director`
  			, `star`
  			, `story`
  			, `runningTime`
  			, `openDay`
			, `createdAt`
			, `updatedAt`
		FROM 
			`movie`
		
  </select>
  
  
  <select id="getMovie" resultType="com.uilangage.langcine.admin.movie.domain.Movie">
  	SELECT 
			`id`
			, `movieName`
  			, `thumbImage`
  			, `movieInfoImage`
  			, `visualImage`
  			, `bannerImage`
  			, `genre`
  			, `director`
  			, `star`
  			, `story`
  			, `runningTime`
  			, `openDay`
			, `createdAt`
			, `updatedAt`
		FROM 
			`movie`
		ORDER BY 
			`id` DESC
  </select>
  
  <insert id="insertMovie" parameterType="map">
  	INSERT INTO 
  		`movie` 
  		(
  			`movieName`
  			, `thumbImage`
  			, `movieInfoImage`
  			, `visualImage`
  			, `bannerImage`
  			, `genre`
  			, `director`
  			, `star`
  			, `story`
  			, `runningTime`
  			, `openDay`
		) 
	VALUES
		(
			#{movieName}
			, #{thumbImage}
			, #{movieInfoImage}
			, #{visualImage}
			, #{bannerImage}
			, #{genre}
			, #{director}
			, #{star}
			, #{story}
			, #{runningTime}
			, #{openDay}
		)

  </insert>
  </mapper>