<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.uilangage.langcine.user.repository.SaltRepository">
  	<select id="selectSalt" parameterType="int" 
	resultType="com.uilangage.langcine.user.domain.Salt">
  		SELECT 
			`id`
			, `loginId`
			, `salt`
			, `createdAt`
			, `updatedAt`
		FROM 
			`salt`
		WHERE 
			`loginId` = #{loginId}
  	</select>
  	<insert id="addSalt" parameterType="map">
  		INSERT INTO
  			`salt`
  		(
  			`loginId`
  			, `salt`
  		)
  		VALUE
  		(
			#{loginId}
			, #{salt}
  		)
  	</insert>
  </mapper>