@charset "UTF-8";

ul{list-style: none; padding:0; margin:0;}
a:hover , a{
	cursor: pointer;
	text-decoration: none;
}
.normal-header{
	background-color: #fff;	
}

.normal-header a{
	color:#000;
}

.main-header{
	color:#fff;	
	position:absolute;
	width:100%;
	z-index: 2;	
}
.main-header a{
	color:#fff;
}
#logo{
	position: absolute;
	top:18px;
	left:50%;
	transform: translateX(-50%);
}

#header-section .gnb{
	width:980px;
	margin:0 auto;
	height:90px;
	display:flex;
	justify-content: end;
	padding:40px 16px 0 0;
	border-bottom: 1px solid #ddd;
}
#nav{
	text-align:center;
	width:980px;
	margin:0 auto;
}
#nav.fixed{
	position: fixed;
	width:100%;
	top: 0;
	z-index: 9999;
	background-color: #fff;
	
}
#nav.fixed a{
	color:#000;
}
#nav ul {
	display: flex;
	justify-content: center;
}
#nav ul li a{
	display:block;
	padding: 0 24px;
	line-height: 40px;
	height:40px;
	position:relative;
}

#nav ul li:hover a{
	border-bottom: 2px solid #ff1744;

	
}
#footer-section{
	padding-top:80px;
}
#footer-section .inner{
	width:980px;
	margin:0 auto;
}


#content-section .content-wrap{
	width:980px;
	margin:80px auto 0 auto;
}

.content-wrap h4{
	margin-bottom: 24px;
}


.login-form{
	position:relative;
	width:490px;
	padding-right: 120px;
}

.input-form input{
	display:block;
	width:100%;
}

.input-form input + input{
	margin-top:10px;
}


.input-form input[type=text], .input-form input[type=password]{
	height:45px;
	border-radius: 8px;
	padding:0 8px;
	border:1px solid #ddd;
	font-size:14px;
}

.login-form .btn-form button{
	position: absolute;
	top: 0;
	right: 0;
	width:100px;
	height:100px;
	border:none;
}

.input-form + .btn-form{
	margin-top: 20px;
}


.join-wrap .btn-form{
	display:flex;
	justify-content: end;
}

.btn-form button{
	padding:0 20px;
	height:40px;
	border:none;
	border-radius: 8px;
}

.bottom-info{ margin: 10px 0; }

.item-wrap{ position: relative; }
.item-wrap .top-info{
	position: relative;
}
.item-wrap .top-info .over-box{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	z-index: 1;
}
.item-wrap .over-box .inner{
	position: absolute;
	z-index: 1;
	top: 50%;
	padding:0 12px;
	transform: translateY(-50%);
	width:100%;
}
.item-wrap .over-box .inner a{ 
	display: none;
	color: #fff;
}
.item-wrap:hover .over-box:before{
	display: block;
	content:"";
	width:100%;
	height:100%;
	background-color: #000;
	opacity: 0.7;
}

.item-wrap:hover .over-box .inner a{ 
	display: block;
	color: #fff;
}


.btn-thumb{
	padding:0 14px;
	border:1px solid #fff;
	border-radius: 4px;
}

.btn-thumb + .btn-thumb{
	margin-top:10px;
}

.bottom-info strong{
	font-size:13px;
	display: block;
}
.thumb-wrap .info-wrap{
	width:980px;
	margin:0 auto;
}

.info-thumb{
	display:flex;
	justify-content: space-between;
}
.info-thumb .item-wrap{
	width:184px;
	text-align: center;
}
.info-thumb .item-wrap .top-info img{
	width:100%;
}


.info-part + .info-part{ 
	margin-top:40px;
}
.thumb-wrap.main{
	background-color: #000;
}

#thumbSwiper .swiper-slide{
	background-color: #000;
	color:#fff;
}

#content-section .content-wrap{
	margin-top:90px;
}
.detail-top{ 
	display:flex;
	justify-content: space-between;
}

.poster-wrap{
	width:330px;
	border-radius: 20px;
	overflow: hidden;
}
.poster-wrap img{
	width:100%;
}
.detail-ifno{
	margin-top :35px;
	width:650px;
	padding-left: 80px;
}
.movie-info{
	font-size: 20px;
	margin-top: 20px;
}
.movie-tit{
	font-size: 30px;
}
.detail-tab-wrap{ 
	display: flex;
	width:100%; 
}
.detail-tab-wrap li{
	width:100%;
}
.detail-tab-wrap li button{
	width:100%;
	padding: 10px 0;
	border: none;
	background: #fff;
	font-size: 18px;
	color:#7f7f7f;
	font-weight: 700;
}

.detail-tab-wrap li button.active{
	border-bottom: 2px solid #000;
	color: #000;
}
.tab-content>div{
	display:none;
}

.tab-content>div.active{
	display:block;
}
.detail-tab{
	padding: 50px 0;
}
.info-box{
	margin-top: 20px;
}

.info-con{
	font-size: 22px;
	position: relative;
	display: flex;
	align-items: center;
}
.info-con em{
	text-decoration: none;
	font-style: normal;
	padding-left: 10px;
	padding-right: 20px;
	color:#7c7c7c;
}
.info-con em:before{
	content:"";
	display: block;
	width:4px;
	height:4px;
	background-color: #7c7c7c;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left:0;
	transform: translateY(-50%);
}

.info-con .con + .con{
	margin-left: 5px;
}
.info-con .con + .con:before{
	content:",";
	margin-right: 5px;
}

.like-info{
	width: 100px;
	border: 1px solid #000;
	border-radius: 16px;
	padding: 8px 20px;
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
}
.story-info{
	height:250px;
	overflow: scroll;
	margin-top: 30px;
}
.detail-bottom{
	margin-top: 50px;
}


.ticket-wrap{
	width:100%;
	background-color: #444;
	padding: 50px 0;
}
.ticket-box{
	margin:0 auto;
	width:980px;
	height:600px;
	background-color: #fff;
	display:flex;
	text-align: center;
}
.process-wrap li{
	width:78px;
	height:150px;
	display: flex;
	vertical-align: middle;
}
.select-movie{
	width:100%;
}
.ticket-info{
	display:flex;
}
.ticket-info>div{
	width:100%;
	background-color: #000;
	color: #fff;
	height: 40px;
	font-size: 20px;
	line-height: 40px;
}
.movie-select{
	display: flex;
}
.movie-select>div{
	width:100%;
}
.con-wrap{
	max-width: 902px;
}

.process-wrap li strong{
	width:78px;
	padding-top: 42px;
	border-right: 2px solid #444;
}
.process-wrap li + li>strong{
	border-top: 2px solid #444;
}

.movie-select .movie-id div>button{
	width: 100%;
	background: #fff;
	height:45px;
	border: none;
}

.theater-id{
	padding: 30px;
	display: flex;
    flex-wrap: wrap;
}


.movie-box{
    width: 82px;
    height: 54px;
    border: 1px solid #444;
    border-radius: 8px;
    background: #fff; 
    margin-bottom: 24px;
}
.movie-box + .movie-box{
	margin-left: 14px;
}
.movie-box:nth-child(5){
	margin-left:0px;
}
.movie-box span{
	display: block;
}

.theater-name{
	height: 60px;
	line-height: 60px;
	font-size: 26px;
	background-color: #000;
	color: #fff;
}
.current-month{
	height: 30px;
	line-height: 30px;
}
.date-pick ul{
	display: flex;
}
.date-pick .date label{
	display: block;
	cursor: pointer;
	width:64px;
	height: 60px;
	margin-bottom: 0;
	padding: 0 11px;
}
.date-pick .date label input[type="radio"]{
	overflow: hidden;
	position: absolute;
	width:1px;
	height: 1px;
    clip: rect(0, 0, 0, 0);
}
.date-pick .date label input[type="radio"]:checked + strong{
	background-color: #000;
	border-radius:100%;
	color: #fff;
}
.date-pick .date label strong{
	display: block;
	height: 40px;
	line-height: 40px;
}
.date-pick .date label em{
	display: block;
	height: 20px;
}
